{# Navbar #}

<header class="w-full sticky top-0 flex">
    <div class="flex-grow-0">Logo</div>
    <div class="flex-grow"></div>
    <nav class="flex-grow-0">
        <a href="">Profile</a>
        <a href="">Login</a>
    </nav>
</header>